<%- include('../components/head-article.ejs'); %>
  <header class="fixed-top">
    <%- include('../components/header-admin.ejs'); %> 
  </header>
  <main class="h-100 d-flex justify-content-center align-items-center">
    <div class="overflow container h-75 col-md-8 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h1>Criar artigo</h1>
        </div>
        <div class="card-body">
          <form action="/admin/artigos/salvar" method="post">
            <div class="form-group">
              <label for="articleTitleRegister">Defina o título do artigo: </label>
              <input type="text"
                class="form-control" name="articleTitleRegister" id="articleTitleRegister" placeholder="Nome da artigo">
            </div>
            <div class="form-group">
              <label for="articleBodyRegister">Insira o conteúdo</label>
              <textarea name="articleBodyRegister" id="articleBodyRegister" class="form-control" placeholder="Escreva a sua ideia"></textarea>
            </div>
            <div class="form-group">
              <label for="articleCategoryRegister">Selecione uma categoria</label>
              <select class="form-control" name="articleCategoryRegister" id="articleCategoryRegister">
                <% categories.forEach(category => { %>
                  <option value="<%= category.id %>"><%= category.title %></option>
                <% }); %>
              </select>
            </div>
            <button type="submit" class="btn btn-success">Criar artigo</button>
          </form>
        </div>
      </div>
    </div>
  </main>
  <footer class="fixed-bottom">
    <%- include('../../components/footer.ejs'); %> 
  </footer>
<%- include('../../components/tail.ejs'); %>