<%- include('components/head.ejs'); %>
  <header>
    <%- include('components/header.ejs') %> 
  </header>
  <main>
    <%- include('components/home.ejs') %> 
  </main>
  <footer>
    <%- include('components/footer.ejs') %> 
  </footer>
<%- include('components/tail.ejs'); %>