<%- include('components/head.ejs'); %>
  <header class="fixed-top">
    <%- include('components/header.ejs') %> 
  </header>
  <main class=" h-100 d-flex justify-content-center align-items-center">
    <%- include('components/home.ejs') %> 
  </main>
  <footer class="fixed-bottom">
    <%- include('components/footer.ejs') %> 
  </footer>
<%- include('components/tail.ejs'); %>